<ion-view>
	<ion-header-bar class="bar bar-header bar-positive">
     <h1 class="title"><center>TELA DE ESCALA</center></h1>
    </ion-header-bar>
<ion-content>
	<div class="list">
	
	<label class="item item-input" ng-show="visiblePeriodo" class="ng-hide">
  	<span class="input-label">Periodo</span>
  	<input type="month" id='mes' ng-model='periodo' >
	</label>

	<button class="button button-full button-assertive" ng-click="escalar()" ng-show="visiblePeriodo" class="ng-hide">
  	Escalar
	</button>

	<div ng-show="visible" class="ng-hide"><h3><center>{{nomeMes}}</center></h3></div>
	
  	<label class="item item-input item-select"  ng-show="visible" class="ng-hide">
	    <div class="input-label">Status</div>
	    <select ng-model="status"  id="status" ng-change='teste()' >
	      <option ng-repeat='s in servico'>{{s}}</option>
	    </select>
  	</label>

  	<label class="item item-input item-select" ng-show="visible" class="ng-hide">
	    <div class="input-label">Agentes</div>
	    <select ng-model="agente"  id="agente">
	      <option ng-repeat='a in agentes'>{{a}}</option>
	    </select>
  	</label>

 	
  	<label class="item item-input item-select" ng-show="visible" class="ng-hide">
	    <div class="input-label">Folgas</div>
	    <select ng-model="passo"  id="passo" ng-options="o as o.value for o in folgas track by o.id"></select>
  	</label>

  	<label class="item item-input item-select" ng-show="visible" class="ng-hide">
	    <div class="input-label">Primeiro dia</div>
	    <select ng-model="inicio"  id="inicio">
	      <option ng-repeat='d in dias'>{{d}}</option>
	    </select>
  	</label>
  	<label class="item item-input item-select" ng-show="visible" class="ng-hide">
	    <div class="input-label">Último dia</div>
	    <select ng-model="fim"  id="fim">
	      <option ng-repeat='d in dias'>{{d}}</option>
	    </select>
  	</label>
  	<label class="item item-input item-select" ng-show="visible" class="ng-hide">
	    <div class="input-label">Opções</div>
	    <select ng-model="opcao"  id="opcao" ng-change='mostrar()'>
	      <option ng-repeat='o in opcoes'>{{o}}</option>
	    </select>
  	</label>
  	</div>
  	<button class="button button-full button-assertive" ng-click="salvar()" ng-show="showSalvar" class="ng-hide">
  	Salvar
	</button>
	<button class="button button-full button-assertive" ng-click="selecionar()" ng-show="showSelecionar" class="ng-hide">
  	Selecionar mês
	</button> 
	<button class="button button-full button-assertive" ng-click="criarOS()" ng-show="showOrdem" class="ng-hide">
  	Criar OS
	</button>
	<button class="button button-full button-assertive" ng-click="sair()" ng-show="showSair" class="ng-hide">
  	Sair
	</button>   	 	
</ion-content>
</ion-view>
