<ion-view>
	<ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title"><center>VIATURA</center></h1>
    </ion-header-bar>
<ion-content>
	<div class="list">
  <label class="item item-input item-select">
  <div class="input-label">VTR</div>
  <select id='vtr'>
  <option ng-repeat='v in viaturas'>{{v}}</option>
  </select>
  </label>
  <div><h4 ng-repeat='s in selecionados'>{{s}}</h4></div>
  <button class="button button-full button-assertive" ng-click="confirmar()">
  Confirmar
  </button>
  <button class="button button-full button-assertive" ng-click="limpar()">
  Limpar
  </button>
  <button class="button button-full button-assertive" ng-click="salvar()">
  Salvar
  </button>
</ion-content>
</ion-view>